<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/uiConMenu.xhtml">
	<ui:define name="content">

		<h:form id="idConsulta">
			<p:panelGrid columns="5" columnClasses="text-right,ui-fluid"
				styleClass="ui-panelgrid-blank">
				<p:outputLabel value="Precio mínimo" />
				<p:inputText value="#{componenteMercaderia.precioMinimo}" />
				<p:outputLabel value="Precio máximo" />
				<p:inputText value="#{componenteMercaderia.precioMaximo}" />
				<p:commandButton value="Consulta"
					action="#{componenteMercaderia.filtrar}" update="idTabla" />
			</p:panelGrid>

			<p:dataTable value="#{componenteMercaderia.lista}"
				var="fila" rows="10" paginator="true" id="idTabla"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
				<f:facet name="header">Listado de Mercadería</f:facet>
				<p:column headerText="Código" style="width:40px">
					<h:outputText value="#{fila.idMercaderia}" />
				</p:column>
				<p:column headerText="Nombre" style="width:180px">
					<h:outputText value="#{fila.nombre}" />
				</p:column>
				<p:column headerText="Stock" style="width:50px">
					<h:outputText value="#{fila.stock}" />
				</p:column>
				<p:column headerText="Precio" style="width:50px">
					<h:outputText value="#{fila.precio}" />
				</p:column>
				<p:column headerText="Tipo" style="width:160px">
					<h:outputText value="#{fila.tipo.nombre}" />
				</p:column>
			</p:dataTable>

		</h:form>
	</ui:define>
</ui:composition>
</html>

