<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/uiConMenu.xhtml">
	<ui:define name="content">
		<h:form id="idLista">
			<p:commandButton action="#{componenteMercaderia.nuevo}"
				oncomplete="PF('wRegistro').show()" update="idWRegistro"
				value="Nueva Mercadería" />

			<p:dataTable value="#{componenteMercaderia.lista}"
				var="fila" binding="#{componenteMercaderia.fila}" rows="10"
				paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
				<f:facet name="header">Listado de Mercadería</f:facet>
				<p:column headerText="Código" style="width:40px">
					<h:outputText value="#{fila.idMercaderia}" />
				</p:column>
				<p:column headerText="Nombre" style="width:180px">
					<h:outputText value="#{fila.nombre}" />
				</p:column>
				<p:column headerText="Stock" style="width:50px">
					<h:outputText value="#{fila.stock}" />
				</p:column>
				<p:column headerText="Precio" style="width:50px">
					<h:outputText value="#{fila.precio}" />
				</p:column>
				<p:column headerText="Tipo" style="width:160px">
					<h:outputText value="#{fila.tipo.nombre}" />
				</p:column>
				<p:column headerText="" style="width:60px">
					<p:commandButton action="#{componenteMercaderia.obtener}"
						oncomplete="PF('cd').show()" icon="fa fa-fw fa-remove" />
				</p:column>
			</p:dataTable>
			<p:confirmDialog message="Seguro de Elimnar" widgetVar="cd">
				<p:commandButton value="Aceptar"
					action="#{componenteMercaderia.eliminar}"
					oncomplete="PF('cd').hide()" update="idLista" />
				<p:commandButton value="Cancelar" onclick="PF('cd').hide()" />
			</p:confirmDialog>
		</h:form>
		<p:dialog header="Registro de Mercadería" modal="true"
			widgetVar="wRegistro" resizable="false" draggable="false"
			id="idWRegistro">

			<h:form id="idRegistrar">
				<p:growl id="growl" showDetail="true" sticky="true">
					<p:autoUpdate />
				</p:growl>
				<p:panelGrid columns="2" columnClasses="text-right,ui-fluid"
					styleClass="ui-panelgrid-blank">
					<p:outputLabel value="Nombre" />
					<p:inputText
						value="#{componenteMercaderia.mercaderia.nombre}"
						required="true" requiredMessage="Ingrese Nombre"
						validatorMessage="Campo nombre solo letras">
						<f:validateRegex pattern="^([a-zA-Z0-9\s\á\é\í\ó\ú\Á\É\Í\Ó\Ú\ñ\Ñ]+)$" />
					</p:inputText>
					<p:outputLabel value="Tipo" />
					<p:selectOneMenu
						value="#{componenteMercaderia.mercaderia.tipo.idTipo}"
						required="true" requiredMessage="Seleccione Tipo">
						<f:selectItem itemLabel=":::Seleccione Tipo:::" itemValue=" " />
						<f:selectItems value="#{componenteTipo.lista}"
							var="fila" itemLabel="#{fila.nombre}"
							itemValue="#{fila.idTipo}" />
					</p:selectOneMenu>
					<p:outputLabel value="Stock" />
					<p:inputText value="#{componenteMercaderia.mercaderia.stock}"
						required="true" requiredMessage="Ingrese stock"
						validatorMessage="Stock 3 dígitos">
						<f:validateLongRange minimum="1" maximum="999" />
					</p:inputText>
					<p:outputLabel value="Precio" />
					<p:inputText value="#{componenteMercaderia.mercaderia.precio}"
						required="true" requiredMessage="Ingrese precio"
						validatorMessage="Precio de 2 dígitos">
						<f:validateLongRange minimum="10" maximum="99" />
					</p:inputText>
					<f:facet name="footer">
						<h:panelGroup style="display:block; text-align:center">
							<p:commandButton value="Grabar"
								action="#{componenteMercaderia.registrar}"
								oncomplete="if (!args.validationFailed) PF('wRegistro').hide();"
								update="idLista" />
							<p:commandButton value="Cancelar"
								oncomplete="PF('wRegistro').hide()" immediate="true" />
						</h:panelGroup>
					</f:facet>
				</p:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>
</html>

